<div class="medium-insert-buttons" contenteditable="false" style="display: none">
  {{#each addons}}
      <span class="medium-insert-buttons-file">
        <button data-addon="{{@key}}" data-action="add" class="medium-insert-action">{{{label}}}</button>
      </span>
  {{/each}}
</div>
